body{
    margin: 0;
    font-size: 10px;
}
.flex-container{
    display: flex;
}
.box1{
}
.box2{

}
.box1 > .flex-item{
    background-color: green;
    color:black;
    font-size: 5rem;
    width: 30%;
    text-align: center;
    
}

.box2 > .flex-item{
    background-color: red;
    color:black;
    font-size: 5rem;
    width: 30%;
    text-align: center;
}